<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Game.Properties.Settings>
            <setting name="score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clickValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoClickValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="improveButtonUse1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveButtonUse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveButtonUse3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveButtonUse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveAutoButtonUse1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveAutoButtonUse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveAutoButtonUse3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="improveAutoButtonUse4" serializeAs="String">
                <value>False</value>
            </setting>
        </Game.Properties.Settings>
    </userSettings>
</configuration>